

@media (max-width:210px) {
    html {
        font-size: 2.0px !important;
    }
}


@media (min-width:210px) {
    html {
        font-size: 2.7px !important;
    }
}

@media (min-width:240px) {
    html {
        font-size: 3.1px !important;
    }
} 
@media (min-width:265px) {
    html {
        font-size: 3.5px !important;
    }
}
@media (min-width:300px) {
    html {
        font-size: 3.7px !important;
    }
}

@media (min-width:320px) {
    html {
        font-size: 4.0px !important;
    }
}

@media (min-width:350px) {
    html {
        font-size: 4.7px !important;
    }
}
@media (min-width:400px) {
    html {
        font-size: 5.2px !important;
    }
}
@media (min-width:430px) {
    html {
        font-size: 5.6px !important;
    }
}
@media (min-width:460px) {
    html {
        font-size: 6.0px !important;
    }
}

@media (min-width:480px) {
    html {
        font-size: 6.2px !important;
    }
}
@media (min-width:510px) {
    html {
        font-size: 6.7px !important;
    }
}
@media (min-width:545px) {
    html {
        font-size: 7.0px !important;
    }
}
@media (min-width:590px) {
    html {
        font-size: 7.35px !important;
    }
}
@media (min-width:600px) {
    html {
        font-size: 7.6px !important;
    }
}
@media (min-width:620px) {
    html {
        font-size: 7.9px !important;
    }
}
@media (min-width:650px) {
    html {
        font-size: 8.3px !important;
    }
}

@media (min-width:670px) {
    html {
        font-size: 8.74px !important;
    }
}

@media (min-width:700px) {
    html {
        font-size: 9.0px !important;
    }
}
@media (min-width:740px) {
    html {
        font-size: 9.5px !important;
    }
}
@media (min-width:760px) {
    html {
        font-size: 10.0px !important;
    }
}
@media (min-width:790px) {
    html {
        font-size: 10.5px !important;
    }
}

@media (min-width:840px) {
    html {
        font-size: 11.0px !important;
    }
}
@media (min-width:880px) {
    html {
        font-size: 11.5px !important;
    }
}
@media (min-width:920px) {
    html {
        font-size: 12.0px !important;
    }
}
@media (min-width:960px) {
    html {
        font-size: 12.5px !important;
    }
}
@media (min-width:1000px) {
    html {
        font-size: 13.0px !important;
    }
}

@media (min-width:1040px) {
    html {
        font-size: 13.5px !important;
    }
}

@media (min-width:1080px) {
    html {
        font-size: 14.0px !important;
    }
}
@media (min-width:1120px) {
    html {
        font-size: 14.5px !important;
    }
}
@media (min-width:1160px) {
    html {
        font-size: 15.0px !important;
    }
}
@media (min-width:1200px) {
    html {
        font-size: 15.5px !important;
    }
}

@media (min-width:1240px) {
    html {
        font-size: 16.0px !important;
    }
}

@media (min-width:1280px) {
    html {
        font-size: 16.5px !important;
    }
}

@media (min-width:1320px) {
    html {
        font-size: 17.0px !important;
    }
}
@media (min-width:1380px) {
    html {
        font-size: 17.5px !important;
    }
}
@media (min-width:1420px) {
    html {
        font-size: 18.0px !important;
    }
}
@media (min-width:1460px) {
    html {
        font-size: 18.5px !important;
    }
}

@media (min-width:1500px) {
    html {
        font-size: 19.0px !important;
    }
}

@media (min-width:1540px) {
    html {
        font-size: 19.5px !important;
    }
}

@media (min-width:1580px) {
    html {
        font-size: 20.0px !important;
    }
}

@media (min-width:1620px) {
    html {
        font-size: 20.5px !important;
    }
}

@media (min-width:1660px) {
    html {
        font-size: 21.0px !important;
    }
}

@media (min-width:1700px) {
    html {
        font-size: 21.5px !important;
    }
}

@media (min-width:1740px) {
    html {
        font-size: 22.0px !important;
    }
}

@media (min-width:1780px) {
    html {
        font-size: 22.5px !important;
    }
}

@media (min-width:1820px) {
    html {
        font-size: 23.0px !important;
    }
}

@media (min-width:1860px) {
    html {
        font-size: 23.5px !important;
    }
}

@media (min-width:1900px) {
    html {
        font-size: 24.0px !important;
    }
}

@media (min-width:1940px) {
    html {
        font-size: 24.5px !important;
    }
}

@media (min-width:1980px) {
    html {
        font-size: 25.0px !important;
    }
}

@media (min-width:2020px) {
    html {
        font-size: 25.5px !important;
    }
}

@media (min-width:2060px) {
    html {
        font-size: 26.0px !important;
    }
}

@media (min-width:2100px) {
    html {
        font-size: 26.5px !important;
    }
}

@media (min-width:2140px) {
    html {
        font-size: 27.0px !important;
    }
}

@media (min-width:2180px) {
    html {
        font-size: 27.5px !important;
    }
}

@media (min-width:2220px) {
    html {
        font-size: 28.0px !important;
    }
}

@media (min-width:2260px) {
    html {
        font-size: 28.5px !important;
    }
}

@media (min-width:2300px) {
    html {
        font-size: 29.0px !important;
    }
}

@media (min-width:2340px) {
    html {
        font-size: 29.5px !important;
    }
}


@media (min-width:2380px) {
    html {
        font-size: 30.0px !important;
    }
}

@media (min-width:2420px) {
    html {
        font-size: 30.5px !important;
    }
}

@media (min-width:2460px) {
    html {
        font-size: 31.0px !important;
    }
}

@media (min-width:2500px) {
    html {
        font-size: 31.5px !important;
    }
}

@media (min-width:2540px) {
    html {
        font-size: 32.0px !important;
    }
}

@media (min-width:2580px) {
    html {
        font-size: 32.5px !important;
    }
}

@media (min-width:2620px) {
    html {
        font-size: 32.0px !important;
    }
}

@media (width<1150px) {
    .screen {
        audio {
            width:100% !important;

        }
    }
}